.Dictionary {
  margin: 50px 0;
  text-align: center;
  --dark-text-color: rgba(238, 238, 238, 0.2);
}

.Dictionary input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--dark-text-color);
  color: #eeeeee;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  transition: border-bottom 0.5s;
}

.Dictionary input:focus {
  border-bottom: 1px solid rgba(238, 238, 238, 0.4);
  outline: none;
  transition: border-bottom 0.1s;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--dark-text-color);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--dark-text-color);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--dark-text-color);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: var(--dark-text-color);
}
